<div>
  <%= form_with(model: note) do |form| %>
    <%= form.submit class: 'p-2 bg-white border rounded mb-4 cursor-pointer' %>

    <% if note.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

        <ul>
          <% note.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.text_area :content, class: 'w-full p-4 resize-none', data: {controller: 'codemirror'} %>
    </div>
  <% end %>
</div>