<!DOCTYPE html>
<html>
  <head>
    <title>RubyRailsNotes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-gray-50 p-4 grid grid-cols-4">
    <div class="col-span-1">
      <%
        tags = Tag.all
        tree = {}
        tags.each { |tag| Tag.build_tree(tag.name, tree) }
      %>
      <%= render partial: 'partials/tree', locals: {tree: tree} %>
    </div>
    <div class="col-span-3">
      <%= yield %>
    </div>
  </body>
</html>
