<!DOCTYPE html>
<html>
  <head>
    <title>RubyRailsNotes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-gray-50 p-16">
    <% tags = Tag.all %>
    <ul>
      <% tags.each do |tag| %>
        <li>
          <%= tag.name %>
        </li>
      <% end %>
    </ul>
    <%= yield %>
  </body>
</html>
